
@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    font-size: 60px;
    font-weight: 900;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

h3{
    font-size: 20px;
    font-weight: 500;
}